<footer>
    <div class="card-footer">
      <h1><span>Chert</span>Nodes</h1>
      <p>© 2022 ChertNodes</p>
    </div>
    <div class="card-footer">
      <h1>Правила</h1>
      <p>Пользовательское соглашение</p>
      <p>Политика конфиденциальности</p>
      <p>Правила майнкрафт</p>
    </div>
    <div class="card-footer">
      <h1>Ссылки</h1>
      <p><i class="fab fa-vk"></i>ВК</p>
      <p><i class="fab fa-youtube"></i>Ютуб</p>
      <p><i class="fab fa-telegram"></i>Телеграм</p>
    </div>
    <div class="card-footer">
      <span class="site">
        <p>Сайт сделал</p>
        <a>Elias</a>
      </span>
    </div>
  </footer>