<footer>
  <div class="card-footer">
    <h1><span>Chert</span>Nodes</h1>
    <p>© 2022 ChertNodes</p>
  </div>
  <div class="card-footer">
    <h1>Правила</h1>
    <p><a routerLink="/rules">Пользовательское соглашение</a></p>
    <p><a routerLink="/rules">Политика конфиденциальности</a></p>
    <p><a routerLink="/rules">Правила майнкрафт</a></p>
  </div>
  <div class="card-footer">
    <h1>Ссылки</h1>
    <p><i class="fab fa-vk"></i>ВК</p>
    <p><i class="fab fa-youtube"></i>Ютуб</p>
    <p><i class="fab fa-telegram"></i>Телеграм</p>
  </div>
  <div class="card-footer">
    <span class="site">
      <p>Сайт сделал</p>
      <a>Elias</a>
    </span>
  </div>
</footer>

<div class="figma">
  <p>Many thanks to Elias Dev for offering this UI/UX design to the Figma Community.</p>
  <a
    href="https://www.figma.com/design/HNQIuFsOlYR9sGYl7pIOAs/ChertNodes-web-hosting-platform-(Community)?node-id=81-1483&t=ybJUrwpPJVMeP43R-0"><img
      src="assets/images/Figma.png" alt="Figma Icon" /></a>
</div>

<p class="copyright">© 2024 J-Lucien. All rights reserved</p>