<div class="rules">
    <h1>Основные правила</h1>

    <div class="card">
        <h3>Связаные с сайтом</h3>
        <ul>
            <li>Запрещено использовать баги сайт, при нахождении бага вы обязаны сообщить администрации</li>
            <li>Пытаться  нарушить работу сайт (ДДос атаки, использвание уязвимостей)</li>
            <li>Пытаться  нарушить работу сайт (ДДос атаки, использвание уязвимостей)</li>
        </ul>
    </div>
    <div class="card">
        <h3>Связаные с хостом</h3>
        <ul>
            <li>Запрещено  специально сильно нагружать сервер (майнинг, ддос хоста, бот атака)</li>
            <li>Запрещено использование багов хоста</li>
            <li>Запрещена продажа хоста</li>
        </ul>
    </div>
</div>