<div class="login">
    <h1 class="title"><a routerLink="/" ><span>Chert</span>Nodes</a></h1>
    <form class="login-form">
        <h3>Вход</h3>
        <div class="form-control">
            <div class="input-wrapper" >
                <img src="assets/images/user.png" alt="" srcset="">
                <input type="text" placeholder="Just hit the button below">
            </div>
            <div class="input-wrapper">
                <img src="assets/images/lock.png" alt="" srcset="">
                <input type="password" placeholder="Пароль">
            </div>
            <a>Забыл пароль</a>
        </div>
        <a routerLink="/admin" class="button">Войти</a>
    </form>
</div>