<div class="login">
    <h1 class="title"><span>Chert</span>Nodes</h1>
    <form class="login-form">
        <h3>Вход</h3>
        <div class="form-control">
            <div class="input-wrapper" >
                <img src="assets/images/user.png" alt="" srcset="">
                <input type="text" placeholder="Логин">
            </div>
            <div class="input-wrapper">
                <img src="assets/images/lock.png" alt="" srcset="">
                <input type="password" placeholder="Пароль">
            </div>
            <a href="#" >Забыл пароль</a>
        </div>
        <a routerLink="/" class="button">Войти</a>
    </form>
</div>