<div class="container-admin">
    <div class="side-bar">
        <div class="links">
            <h1><span>Chert</span>Nodes</h1>
            <ul>
                <li><a class="active" href="#"><i class="fas fa-home" style="font-size: 17px;"></i>Главная</a></li>
                <li><a href="#"><i class="fas fa-microchip" style="font-size: 17px;"></i>Сервера</a></li>
                <li><a href="#"><i class="fas fa-tag" style="font-size: 17px;"></i>Магазин</a></li>
                <li><a href="#"><i class="fas fa-cog" style="font-size: 17px;"></i>Настройки</a></li>
            </ul>
        </div>
        <div class="footer">
            <div class="account">
                <h1>1234 ₽</h1>
                <p>230 ₽/м </p>
                <a href="#">Пополнить счет</a>
            </div>
            <div class="user-profile">
                <div class="user">
                    <div class="user-avatar">E</div>
                    <div class="user-info">
                        <span>Elias</span>#1234
                    </div>
                </div>
                <a routerLink="/login"><i class="fas fa-sign-out-alt logout-icon"></i></a>
            </div>
        </div>
    </div>
    <div class="center-content">
        <div class="section-1">
            <h1>Тут должно быть очень важное обьвление</h1>
            <div>
                <p>И длинное описание</p>
            </div>
            <a href="#">Купить</a>
        </div>
        <div class="section-2">
            <div class="header">
                <h1>Ваши сервера</h1>
                <div class="links">
                    <a href="#">Редактировать</a>
                    <a href="#">Создать новый</a>
                </div>
            </div>
            <div class="body">
                <table>
                    <thead>
                        <tr>
                            <td>Имя</td>
                            <td>Озу</td>
                            <td>Диск</td>
                            <td>ЦП</td>
                            <td>Статус</td>
                        </tr>
                        <tr class="ligne"></tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Супер сервер 2</td>
                            <td>1.12.2</td>
                            <td>Paper</td>
                            <td>Premium</td>
                            <td class="error"></td>
                        </tr>
                        <tr>
                            <td>Супер сервер 3</td>
                            <td>1.12.2</td>
                            <td>Paper</td>
                            <td>Premium</td>
                            <td class="primary"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="right-content">
        <p>Реклама</p>
    </div>
</div>