<main>
    <section class="section-1">
        <div class="content">
            <h1>Лучше хостинга тебе не найти!</h1>
            <p>
                Современный хостинг майнкрафт серверов с неограниченным временем
                работы
            </p>
            <a href="#">Начать</a>
        </div>
        <img src="assets/images/craft.png" alt="" srcset="" />
    </section>

    <section class="section-2">
        <div class="content">
            <h1>12K+</h1>
            <p>Пользователей</p>
        </div>
        <div class="content">
            <h1>5K+</h1>
            <p>Серверов</p>
        </div>
        <div class="content">
            <h1>100K+</h1>
            <p>Часов работы</p>
        </div>
    </section>

    <section class="section-3">
        <div class="content">
            <div class="card">
                <img src="assets/images/Free.png" alt="" srcset="" />
                <div class="card-content">
                    <h3>Совершенно бесплатно</h3>
                    <p>
                        Блять, я хз че тут писать, но это одно из главных наших
                        преемуществ, так что надо чето выдумать
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="assets/images/Server.png" alt="" srcset="" />
                <div class="card-content">
                    <h3>Безпрерывная работа</h3>
                    <p>
                        Блять, я хз че тут писать, но это одно из главных наших
                        преемуществ, так что надо чето выдумать
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="assets/images/Server.png" alt="" srcset="" />
                <div class="card-content">
                    <h3>Безпрерывная работа</h3>
                    <p>
                        Блять, я хз че тут писать, но это одно из главных наших
                        преемуществ, так что надо чето выдумать
                    </p>
                </div>
            </div>
        </div>
        <img class="right-image" src="assets/images/image-3.png" alt="" srcset="" />
    </section>

    <section class="section-4">
        <h1 class="title">Что о нас <span>пишут</span>?</h1>
        <div class="content">
            <div class="card">
                <p>Elias</p>
                <h1>Это и правда лучший хостинг!</h1>
                <p>
                    Я уже пользуюсь им больше года и всем доволен. Работает без
                    стабильно, а главное стоит дешево. Сам играю на версии 1.17, хоть
                    лаги иногда и бывают но быстро пропадают
                </p>
                <a href="">Оригинал</a>
            </div>
            <div class="card">
                <p>SSCefalix</p>
                <h1>Нет лагов!</h1>
                <p>
                    Прекрасный хостинг! Играю около недели, никаких багов не нашёл,
                    всё прекрасно! Не лагает, тпс стабильно 20! Всем советую!
                </p>
                <a href="">Оригинал</a>
            </div>
            <div class="card">
                <p>Lanseicer</p>
                <h1>Афигенный хостинг</h1>
                <p>
                    Афигенный хостинг для создания серверов! Даже без скидок цены
                    очень хорошие. Купил и доволен покупкой! Сервер выдерживает даже
                    70 плагинов и не лагает! Спасибо вам огромное!
                </p>
                <a href="">Оригинал</a>
            </div>
        </div>
    </section>

    <section class="section-5">
        <h1 class="title">Наши <span>тарифы</span></h1>
        <div class="content">
            <div class="card">
                <div class="card-header">
                    <h1>Free</h1>
                    <p>0 ₽/м</p>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            <span class="icon">
                                <span>💻</span>
                                <span class="label">ОЗУ</span>
                            </span>
                            <span class="value">1Гб</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>⚙️</span>
                                <span class="label">ЦП</span>
                            </span>
                            <span class="value">75%</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>🌐</span>
                                <span class="label">Версия</span>
                            </span>
                            <span class="value">1.12.2</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>💾</span>
                                <span class="label">База данных</span>
                            </span>
                            <span class="value">1</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>📦</span>
                                <span class="label">Бекапов</span>
                            </span>
                            <span class="value">1</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>🖴</span>
                                <span class="label">Диск</span>
                            </span>
                            <span class="value">3Гб</span>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="#">Купить</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h1>Semi Prem</h1>
                    <p>50 ₽/м</p>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            <span class="icon">
                                <span>💻</span>
                                <span class="label">ОЗУ</span>
                            </span>
                            <span class="value">1Гб</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>⚙️</span>
                                <span class="label">ЦП</span>
                            </span>
                            <span class="value">75%</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>🌐</span>
                                <span class="label">Версия</span>
                            </span>
                            <span class="value">1.12.2</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>💾</span>
                                <span class="label">База данных</span>
                            </span>
                            <span class="value">1</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>📦</span>
                                <span class="label">Бекапов</span>
                            </span>
                            <span class="value">1</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>🖴</span>
                                <span class="label">Диск</span>
                            </span>
                            <span class="value">3Гб</span>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="#">Купить</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h1>Premium</h1>
                    <p>50 ₽/м</p>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            <span class="icon">
                                <span>💻</span>
                                <span class="label">ОЗУ</span>
                            </span>
                            <span class="value">1Гб</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>⚙️</span>
                                <span class="label">ЦП</span>
                            </span>
                            <span class="value">75%</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>🌐</span>
                                <span class="label">Версия</span>
                            </span>
                            <span class="value">1.12.2</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>💾</span>
                                <span class="label">База данных</span>
                            </span>
                            <span class="value">1</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>📦</span>
                                <span class="label">Бекапов</span>
                            </span>
                            <span class="value">1</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>🖴</span>
                                <span class="label">Диск</span>
                            </span>
                            <span class="value">3Гб</span>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="#">Купить</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h1>Semi Max</h1>
                    <p>50 ₽/м</p>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            <span class="icon">
                                <span>💻</span>
                                <span class="label">ОЗУ</span>
                            </span>
                            <span class="value">1Гб</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>⚙️</span>
                                <span class="label">ЦП</span>
                            </span>
                            <span class="value">75%</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>🌐</span>
                                <span class="label">Версия</span>
                            </span>
                            <span class="value">1.12.2</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>💾</span>
                                <span class="label">База данных</span>
                            </span>
                            <span class="value">1</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>📦</span>
                                <span class="label">Бекапов</span>
                            </span>
                            <span class="value">1</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>🖴</span>
                                <span class="label">Диск</span>
                            </span>
                            <span class="value">3Гб</span>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="#">Купить</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h1>Max</h1>
                    <p>50 ₽/м</p>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            <span class="icon">
                                <span>💻</span>
                                <span class="label">ОЗУ</span>
                            </span>
                            <span class="value">1Гб</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>⚙️</span>
                                <span class="label">ЦП</span>
                            </span>
                            <span class="value">75%</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>🌐</span>
                                <span class="label">Версия</span>
                            </span>
                            <span class="value">1.12.2</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>💾</span>
                                <span class="label">База данных</span>
                            </span>
                            <span class="value">1</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>📦</span>
                                <span class="label">Бекапов</span>
                            </span>
                            <span class="value">1</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>🖴</span>
                                <span class="label">Диск</span>
                            </span>
                            <span class="value">3Гб</span>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="#">Купить</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h1>God</h1>
                    <p>0 ₽/м</p>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            <span class="icon">
                                <span>💻</span>
                                <span class="label">ОЗУ</span>
                            </span>
                            <span class="value">1Гб</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>⚙️</span>
                                <span class="label">ЦП</span>
                            </span>
                            <span class="value">75%</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>🌐</span>
                                <span class="label">Версия</span>
                            </span>
                            <span class="value">1.12.2</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>💾</span>
                                <span class="label">База данных</span>
                            </span>
                            <span class="value">1</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>📦</span>
                                <span class="label">Бекапов</span>
                            </span>
                            <span class="value">1</span>
                        </li>
                        <li>
                            <span class="icon">
                                <span>🖴</span>
                                <span class="label">Диск</span>
                            </span>
                            <span class="value">3Гб</span>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="#">Купить</a>
                </div>
            </div>
        </div>
    </section>
</main>